<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <div class="container" style="margin-top: 5%">
        <div class="row">
    {% for animal in animals %}
    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
          <img src="{{animal.image_url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{animal.name}}</h5>
            <p class="card-text">{{animal.description}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
    {% endfor %}
</div>
    </div>
</body>
</html>